:root {
    --color-light: #333844;
    --color-dark: white;
    --bg-color-dark: #333844;
    --bg-color-light: white;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: var(--bg-color-light);
        --color: var(--color-light);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--bg-color-dark);
        --color: var(--color-dark)
    }
}
[data-light], [data-dark] {
    opacity: 0;
}
body {
    background-color: var(--bg-color);
    color: var(--color);
}

